<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running App</title>
    <meta name="description" content="">
    <style>
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #e52a2a;
            background-color: #f1bdbd;
            padding: 20px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        button {
            margin: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Runners World</h1>
        <P>Choose goals to accmplish, connect with other runners, log workouts, and work towards sustaining lasting excesize schedule</P>
    </header>
    <nav>
        <button class="nav-button" onclick="location.href='/login'">Login</button>
        <button class="nav-button" onclick="location.href='/register'">Register</button>
    </nav>
</body>
</html>