<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h1>Register</h1>
    <P> Please fill in the following information to set up your user account</P>
    <form action="/register" method="POST">
        
        <label for="newUsername">Username:</label>
        <input type="text" id="newUsername" name="username" required>
        <br>
        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" name="password" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
